.listes{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.listes span:hover{
  border-bottom: 1px solid black;
  cursor: pointer;
}

.listes a{
  color: black;
  text-decoration: none;
}